{% extends "base_template.html" %}

{% block content %}
  <h1>MLB Stats All Teams</h1>
  <p>Currently, there are : {{ num_teams }} teams listed in the database.</p>
  <table style="width:25%">
      <tr>
          <th>Team Name</th>
          <th>Year</th>
      </tr>
      {% for team in teams %}
        <tr>
            <td><a href="team/{{ team.team_id }}/{{ team.year_id }}/">{{ team.name }}</a></td>
            <td><a href="team/{{ team.team_id }}/{{ team.year_id }}/">{{ team.year_id }}</a></td>
        </tr>
      {% endfor %}
  </table>

{% endblock %}
