{% extends "index_template.html" %}

{% block content %}
  <h1 class='hp-tt'>MLB Stats Home</h1>
  <p class='hp-ti'>Welcome to MLB Stats, a web database for baseball fans to search stats about their favorite players</p>
  <div class='hp-f-c'>
    <div><a href="{% url 'search' %}">Search</a></div>
    <div><a href="{% url 'allplayers' %}">Players</a></div>
    <div><a href="{% url 'allteams' %}">Teams</a></div>
  </div>
    <br><br><br>
    <footer>
      <p>MLB Statistics is powered by Sean Lahman's Database of Baseball Statistics.</p>
      <p>Check his website out <a href="http://www.seanlahman.com/">here.</a></p>
    </footer>
  </div>
{% endblock %}
